body{
    background-color: #D5D5D5;
    color:#52278A;
}
h1,h2,h3,h4{
    cursor: default;
}
footer{
    cursor: default;
    padding-top:5vh;
    border-color: #AE98D7;
    border-width: 1px;
    border-style:solid none none none;
}
button{
    margin:3px;
    background-color: #bababa;
    color:#52278A
}
button:hover{
    background-color: #838383;
}
button:focus,
button:focus-visible {
  outline: #AE98D7 4px auto ;
}
td{
    cursor: default;
    height:50px;
    width:150px;   
    border:1px solid;
}
img{
    width:200px;
    height:200px;
}
input{
    background-color: #D5D5D5;
    color:#7850A8;
}
th{
    border:1px solid;
}
table{
    border-collapse: collapse;
    margin:15px;
    color: #52278A;
    border: 3px solid;
    width:95%;
}
.aboveMain{
    padding-bottom:5vh;
    border-color: #AE98D7;
    border-width: 1px;
    border-style:none none solid none;
}
.sbMain{
    padding-top:2vh;
}
.outlet{
    min-height:40vh;
    padding-bottom:5vh;
}
.classPageMain{
    display: flex;
    flex-direction: column;
    padding:5px;
}
.classPageSub{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.funcParent{
    width: 40%;
}
.funcs{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}
.minMax{
    display: flex;
    flex-direction: column;
    width:15%;
    justify-content:center;
    align-items: center;
}
.minMaxLabel{
    width:50%;
}
.advMain{
    justify-content:center;
    align-items: center;
}
.advCrit{
    display: flex;
    flex-direction: row;
}
.advDisp{
    border:1px hsl(261, 44%, 72%);
    border-style:solid none none none;
    padding-top:5vh;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.chemInClass{
    border:1px #838383;
    border-style:solid;
    border-radius: 5px;
    margin:4px;
}