td{
    height:50px;
    width:150px;
}
img{
    width:200px;
    height:200px;
}
.mainPageDiv{
    display: flex;
    flex-direction: row;
}
th,td{
    border:1px solid;
}
table{
    border-collapse: collapse;
    border:1px solid;
    margin:15px;
}
.advCrit{
    display: flex;
    flex-direction: row;
}
.funcParent{
    width: 40%;
}
.funcs{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}
.minMax{
    display: flex;
    flex-direction: column;
    width:15%;
    justify-content:center;
    align-items: center;
}
.minMaxLabel{
    width:50%;
}
advMain{
    justify-content:center;
    align-items: center;
}